@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.content-home{
    text-align: center;
    padding: 20px;

}
.text{
    font-size: 16px;
    text-align: justify;
    font-family: 'Orbitron', sans-serif;


}