@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

footer{
    box-sizing: border-box;
    width: 100%;
    background-color: #000000;
    color: white;   
    font-size: 12px;
    text-align: center;
    padding: 4px;
    
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    /*position: absolute;
    bottom: 0;
    */
}